@{
    Layout = "/Views/Home/PopupDialog/_PopupLayout.cshtml";
}

<div class="popup error-message-box">
    <h3 class="title error-message-box__title">@ViewBag.MessageTitle</h3>
    <p class="error-message-box__message">@ViewBag.MessageText</p>
    <button class="button error-message-box__button error-message-box__button-ok">OK</button>
</div>
